*.app
*.ipa
build/
classes/
bin/
obj/
.DS_Store
*.war
*.class
*.bak
*~
*.ear
CVS/**
CVS
.metadata/**
.DS_Store/**
**/classes/**
**/bin/**
DerivedData/
Pods/
Podfile.lock
Pods/**
*.rar
*.zip
*.jar
*.lib
*.cod
*.jad
*.dll
*.bkg
*.xap
*.stl
*.cnt
*.scr
*.map
*.tpl
*.apk
*.jad
*.dll
*.apk
*.exe
xcschememanagement.plist
Botree911_Client.xcodeproj/xcuserdata/piyushmac.xcuserdatad/xcschemes/Botree911_Client.xcscheme
Botree911_Client.xcworkspace/xcuserdata/piyushmac.xcuserdatad/UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Expressions.xcexplist
xcuserdata/
