<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Botree911_Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A344C431E42F59E00FFA1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A344C571E42F59F00FFA1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A344C621E42F59F00FFA1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
